  .meal-type {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  .meal-type button {
    padding: 30px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #f0f0f0;
  }
  .meal-type .active {
    background-color: black;
    color: white;
  }
  .add-ingredient {
    width: 100%;
    padding: 10px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    text-align: center;
  }
