  .meal-type {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  .meal-type button {
    padding: 30px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #f0f0f0;
  }
  .meal-type .active {
    background-color: black;
    color: white;
  }
  .add-ingredient {
    width: 100%;
    padding: 10px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    background: #ffffff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .a-meal a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    text-decoration: none;
    color: #fff;
    background-color: #666;
    border-radius: 5px;
  }
