/* Profile Container */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.profile-form {
  width: 100%;
  max-width: 800px;
  background-color: #f8f8f8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: noir; /* Pour voir si la classe est bien prise en compte */
  font-size: 2em;
  margin-top: 50px;
}


/* Form Elements */
.profile-form div {
  margin-bottom: 15px;
}

.profile-form label {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.profile-form input,
.profile-form select,
.profile-form .btn {
  width: 150;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #666;
}

/* Submit Button */
.profile-form .btn {
  background-color: #333;
  color: white;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

.profile-form input[type="submit"] {
  font-size: 18px;
  padding: 12px;
}

.profile-form .btn-secondary {
  margin-top: 10px;
}
