<br><br><br>

<div class='d-flex justify-content-between align-items-center navbar-phone'>
    <%= link_to image_tag("https://res.cloudinary.com/dz68ybmap/image/upload/v1740221200/home_he5j7u.png"), daily_log_path(@current_daily_log), class: "img-fluid" %>
    <%= link_to image_tag("https://res.cloudinary.com/dz68ybmap/image/upload/v1740497500/catalogue_1_lbw9vn.png"), "#", class: "img-fluid" %>
    <%= link_to image_tag("https://res.cloudinary.com/dz68ybmap/image/upload/v1740221200/graph_tvenik.png"), goal_path(current_user), class: "img-fluid" %>
    <%= link_to image_tag("https://res.cloudinary.com/dz68ybmap/image/upload/v1740497500/profile-user_m09yqp.png"), edit_user_profile_path(current_user.id, current_user.id), class: "img-fluid" %>
</div>
