<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add a food</title>

</head>
<body>

  <div class="container">

    <form>
        <h1 class="food-title">Add a food</h1>

        <div class="form-group">
            <label for="food-name">Food name</label>
            <input type="text" id="food-name" name="food-name">
        </div>

        <div class="form-group">
            <label for="serving-size">Serving size</label>
            <input type="text" id="serving-size" name="serving-size">
        </div>

        <div class="form-group">
            <label for="serving-unit">Serving unit</label>
            <input type="text" id="serving-unit" name="serving-unit">
        </div>

        <button type="submit">Create Food</button>
    </form>

</div>
  <button class="big-black-btn">Create Food</button>
</body>
</html>
