<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add a food</title>

</head>
<body>

  <div class="container">
    <h1>Add a food</h1>


    <form action="#" method="POST">

      <div class="form-group">
        <label for="food_name">Food name</label>
        <input type="text" id="food_name" name="food_name" />
      </div>

     <div class="form-group">
        <label for="serving_size">Serving size</label>
        <input type="number" id="serving_size" name="serving_size" />
      </div>

       <div class="form-group">
        <label for="serving_unit">Serving unit</label>
        <input type="text" id="serving_unit" name="serving_unit" />
      </div>

      <button type="submit">Create Food</button>
    </form>
  </div>

</body>
</html>
